* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    width:350px;
    height: 200px;
    /* width: 550px;
    height: 450px; */
    background-color: aquamarine;
    border-radius: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    transition: all 0.3s;
}

.card-container:hover {
    width: 550px;
    height: 450px;
    display: block;
}

.card-container .card-img {
    width: 40%;
}

.card-container:hover .card-img {
    width: 20%;
    margin: auto;
}

.card-container .card-img img {
    width: 100%;
    border-radius: 10%;
}

.card-info {
    text-align: center;
}

.card-info .user-name {
    color: #000;
}

.card-info .user-profession {
    color: #4f4e4e;
}

.other-details {
    display: none;
    margin-top: 20px;

}

.other-details p {
    font-size: 17px;
    line-height: 1.5em;
}

.card-container:hover .other-details{
    display: block;
}
.buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-top: 30px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 20px 30px;
    cursor: pointer;
    color: #FFF;
}

.contact-me {
    border-radius: 10px 0 0 10px;
    background-color: #4C8DAF;
    transition: all 0.3s;
}

.contact-me:hover {
    background-color: #FFF;
    color: #4C8DAF;
}

.follow-me {
    border-radius: 0 10px 10px 0;
    background-color: blueviolet;
    transition: all 0.3s;
}

.follow-me:hover {
    background-color: #FFF;
    color: blueviolet;
}
